.dashboard {
  /* border: 1px solid red; */
  width: 100%;
  height: 85vh;
}

.appointment-table {
  width: 60%;
  background-color: ;
}
.data-row {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}

.data-row-item {
  width: 200px;
  margin: 10px;
}
