.grid-name {
  text-align: center;
  font-size: 25px;
  border: 1px solid red;
  background-color: white;
}

.whole-grid {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.grid-item {
  background-color: white;
  border: 1px solid red;
  max-height: 100px;
  margin-bottom: 5px;
  font-size: 15px;
}

.grid-item > p {
  margin: 0;
}

.grid-item-time {
  font-weight: 600;
}

.grid-item-other {
  color: gray;
}
